.emptyLabel{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #989aa2;
}

h6{
    font-size: .75rem;
}

.lyft{
    color: #ff4081;
}
.uber{
    color:#000000;
}